@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.otf');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.otf');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.otf');
}

$font-family-title: 'Gilroy-Bold';
$font-family-subtitle: 'Gilroy-SemiBold';
$font-family-paragraph: 'Gilroy-Regular';

$background-color: #A8DADC;
$content-color: #F1FAEE;
$header-footer-color: #1D3557;
$font-color: #000000;

.about {
    background-color: $background-color;
    margin: 0;
    padding: 2rem;

    p {
        margin: 0;
        font-size: 1.6rem;
    }

    li {
        font-family: $font-family-paragraph;
        font-size: 1.6rem;
    }

    a {
        text-decoration: none;
    }

    .about__content {
        background-color: $content-color;
        padding: 2.5rem;
        border: .1rem solid rgba($color: #000000, $alpha: .6);
    }
}