@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.otf');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.otf');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.otf');
}

$font-family-title: 'Gilroy-Bold';
$font-family-subtitle: 'Gilroy-SemiBold';
$font-family-paragraph: 'Gilroy-Regular';

$background-color: #A8DADC;
$content-color: #F1FAEE;
$header-footer-color: #1D3557;
$font-color: #000000;

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p {
    color: $font-color;
}

h1, h2 {
    font-family: $font-family-subtitle;
}

h3, h4, h5, h6 {
    font-family: $font-family-subtitle;
}

p {
    font-family: $font-family-paragraph;
}

body {
    overflow-x: hidden;
 }